body {
  background-color: #0f172a;
  color: #e5e7eb;
  font-family: Arial, sans-serif;
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

header {
  text-align: center;
  border-bottom: 1px solid #334155;
  padding-bottom: 20px;
}

h1 {
  font-size: 36px;
}

h2 {
  color: #38bdf8;
}

section {
  margin-top: 30px;
}

a {
  color: #38bdf8;
  text-decoration: none;
}
